---
import {getCollection} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Block from "../../components/Block.astro";
import {formatDate} from "../../utils/format-date";

export async function getStaticPaths() {
    const posts = await getCollection('posts');

    let tags : string[] = posts.reduce((acc, post) => {
        if(!post.data.tags) {
            return acc;
        }

        post.data.tags.forEach((tag: string) => {
            if (!acc.includes(tag)) {
                acc.push(tag);
            }
        });

        if (!acc.includes('Other')) {
            acc.push('Other');
        }
        return acc;
    }, []);

    // add other tag at the end

    tags = tags.filter(tag => tag !== 'Other').concat(tags.filter(tag => tag === 'Other'));

    return tags.map(tag => ({
        params: { tag }
    }));
}

const posts = await getCollection('posts');

---
<Layout title=`Posts with tag: {Astro.params.tag}`>
    <Block marginAuto={true}>
        <h1 class="post-title text-3xl text-center">{Astro.params.tag}</h1>
        <ul>
            {posts.filter(post => post.data.tags?.includes(Astro.params.tag) || (!post.data.tags && Astro.params.tag === 'Other')).map(post => (
                <li>
                    <a href={`/blog/${post.slug}`}>{post.data.title} - {formatDate(post.data.pubDate)}</a>
                </li>
            ))}
        </ul>
    </Block>
</Layout>`;